@import url("hover-min.css");

@media screen and (min-width: 980px) /* Desktop */ {
  body {
    background-color: white;
  }
}

@media screen  and (max-width: 979px) /* Tablet */ {
  body {
    background-color: white;
  }
}

@media screen and (max-width: 500px) /* Mobile */ {
  body {
    background-color: white;
  }
}






/* Remove white space betwee  top and the menu*/
html, body {
    margin: 0;
    padding: 0;
}

.head-content {
	background-color: #111;
	width: 100%;
	/* Make it a sticky nav */
	/* position: fixed; */
}


.menu {
  	/* Horizontally align in center */
	margin: 0 auto;
	width: 100vw;
	background-color: black;
	font-size: 2vw;
	border: none;
	font-family: 'Comfortaa', cursive;
    padding: 0;
	text-align: center;
}


th.menu_item a{    	
	transition: color 0.5s;
}
th.menu_item:hover a{    	
	color: #f1f1f1;
}
th.menu_item {
	transition: background-color 1s;
	/*border-radius: 25px;*/
	background-color: black;
	border: none;
}

th.menu_item:hover {
	/*background-color: #1F1414;*/
}


.menu_name {
	padding-top: 5%;
	text-align: center;
	font-size: 5vh;
        font-family: 'Comfortaa', cursive;
}

hr.main_hr {
	width:85%;
	border-style: groove;
}

a {
	color: #818181;
	text-decoration: none;
}

p, pre, h2, h3, h4, ul, ol {
    font-family: 'Comfortaa', cursive;
	width: 80%;
	text-align: left;
	/* Horizontally align in center */
	margin: 0 auto;
	
}

h2 {
text-align: center;
text-decoration: underline;
text-shadow: 2px 2px 5px grey;
}

p {
    /* font-size: 20px;    */
}

pre {
        font-size: 1vw;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);       
}

pre#xcode {
    border-radius: 5px;
    box-shadow: 10px 10px 5px grey;
}

li {
    font-family: 'Comfortaa', cursive;
	text-align: left;
	/* Horizontally align in center */
	margin: 0 auto;
}

.content {
	padding: 5%;
}

.main-img {
	border-radius: 50%;
	float: right;
        margin: 0 10% 0 0;
}

.social {
	/* Horizontally align in center */
	margin: 0 auto;
	width: 20vw;
	padding: 1%;
	border-radius: 25px;
	background-color: #111;;
}
.social_container {
	background-color: #111;;
	width: 100vw;
}

/*Side nav */
/* The side navigation menu */
.sidenav {
    font-family: 'Comfortaa', cursive;
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 1%; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 0px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

/*End of side nav*/


.skills_table {
	font-family: 'Comfortaa', cursive;
	/*width: 85vw;*/
	text-align: center;
	
}